*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    background-color: #4d1e1e;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(https://i.postimg.cc/59mMpv1p/mgtfond.webp);
    background-repeat: no-repeat;
    background-size: cover;
}



.headerr{
    display: flex;
  
}

.navigation ol{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    gap: 55rem;
    list-style: none;
    max-width: 100%;
}

.navigation a{
     text-decoration-line: none;
     color:white;
     text-shadow: 2px 2px 6px white;
     font-size: 22px;
     
}


.logo img{
    width: 10vw;
     bottom: 2rem;
 
     
}
h1{
    color: white;
    font-size: 200px;
    font-style: italic;
    text-shadow: 3px 3px 11px white;
    margin-left: 5%;
}
.date{
    margin-bottom: 1%;
    margin-left: 20.5%;
    color: white;
    opacity: 35%;
    text-shadow: 2px 2px 6px white;
}
.button{
    display: flex;

}
.button p{
    color: white;
    text-shadow: 2px 2px 6px white;
    right: 18rem;
    top: 3rem;
    font-size: 11px;

}

.btn-outline-danger{
    margin-left: 15%;
    width: 30rem;
    height: 5rem;
    border-radius: 40px;
}
.btn-outline-danger a{
    font-size:25px ;
    text-decoration-line: none;
    color: white;
    text-shadow: 3px 3px 11px white;
}

@media  (min-width:425px) and (max-width:450px){

    .navigation a{
        font-size: 15px;
    }
    .navigation ol{
        gap: 1rem;
        margin-right: 8%;
    }
    .fond img{
        height: auto;
    }
    main{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .logo img{
        width: 5em;
    }
    h1{
        font-size: 75px;
        margin-top: 22%;
        text-align: center;
    }
    
    .date{
        position: relative;
        text-align: center;
        margin-right: 20%;
        bottom: 13vh;
        opacity: 70%;
        
    }
    .button p{
       display: none;
    }
    .btn-outline-danger{
        margin-right: 15%;
    }
    body{
    background-color: #4d1e1e;
    background-image: url(https://i.postimg.cc/59mMpv1p/mgtfond.webp);
    background-repeat: no-repeat;
    background-size: 310vw;
}
}

@media (min-width:450px) and (max-width:768px){
    .navigation a{
        font-size: 15px;
    }
    .navigation ol{
        gap: 12rem;
        margin-right: 8%;
    }
    h1{
        font-size: 10rem;
        margin-top: 14%;
    }
     body{
    background-color: #4d1e1e;
    background-image: url(https://i.postimg.cc/59mMpv1p/mgtfond.webp);
    background-repeat: no-repeat;
    background-size: 85rem;
}

}

@media (min-width:769px) and (max-width:1920px){
    .navigation a{
        font-size: 15px;
    }
    .navigation ol{
        gap: 27rem;
        margin-right: 8%;
    }
    h1{
        font-size: 10rem;
        margin-top: 2%;
    }
     body{
    background-color: #4d1e1e;
    background-image: url(https://i.postimg.cc/59mMpv1p/mgtfond.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-outline-danger{
        margin-right: 60%;
    }
}